
body
{
    font-size:16px;
    width: 800px;
    box-sizing: border-box;
}
header
{
    font-size:30px;
    font-weight: bold;
}
h1
{
    font-size:22px;
    font-weight: bold;
}
.msg,th
{
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
}
td
{
   padding-right: 40px;

}
